
{% extends "base.html" %}
{% load static tags %}
{%  block title %}
Сочи. Главная
{% endblock %}

{% block slyle-nav %}

<style>
        #main{
    background-color: #E35C14;
    border-bottom: -1px solid white ;
    border-top: -1px solid white ;
    border-left: 1px solid white ;
    border-right: 1px solid white ;

 }

</style>
{% endblock %}


{% block partners %}
{% include 'inc/_partners.html' %}
{% endblock %}


{%  block content %}
<div id="content-border" class="card mb-3 ">
    <div class="card-body">
        <div class="media">
            <img src="/static/index-img.png" alt="" class="mr-3">
            <div class="media-body">
                <p>Сочи – самый крупный курортный центр Российской Федерации. После зимней Олимпиады, прошедшей в 2014 году, черноморское
                    побережье Западного Кавказа превратилось в огромный культурный и инфраструктурный центр.</p>
                <p>Урбанизационные процессы в Сочи начались относительно недавно – в 1864 году, поэтому город считается достаточно молодым
                    муниципальным центром. Вследствие такого положения дел основной прирост населения обеспечивается миграционными
                    процессами. На скорость и силу миграции влияет и престижность курортного центра России: Сочи является одним из городов,
                    чье население неуклонно растет, начиная с 1980 года.</p>
                <p>Согласно актуальной статистике, в 2021 году в Сочи проживает 443 562 человек. Данные о количестве населения приведены на
                    сайте Официальной статистической службы «Росстат», в соответствующем разделе. Точно такая же цифра указана и на портале
                    Единой межведомственной информационно-статистической системы ЕМИСС. Как уже говорилось ранее, население курорта
                    продолжает повышаться за счет мощного потока мигрантов.</p>
                <p>Сочи – крупнейший черноморский город России, а также чрезвычайно популярный и очень престижный курорт, расположенный на
                    территории Краснодарского края. Большая часть поселения размером в 3,5 тысяч квадратных километров, пролегает на берегу
                    Черного моря. Сочи представляет собой крупный экономический и культурный центр, выступая в роли «туристической столицы»
                    и финансового центра всего побережья. Кроме того, курорт носит титул самого длинного города России, так как его
                    территория простирается почти на 145 километров вдоль берега Черного моря.</p>
                <p>Несложно догадаться, что в курортной столице Российской Федерации можно найти огромное количество интересных культурных и
                    развлекательных объектов. Одних только кинотеатров построено около 10-15 штук, причем самому старому из них в 2021 году
                    исполнилось 30 лет. Отлично развитая инфраструктура включает в себя более 70-и образовательных школ, 20 Вузов, а также
                    огромное количество спортивных объектов. На постройку всевозможных спорткомплексов сильно повлияла зимняя Олимпиада
                    2014, давшая старт всероссийскому строительству города-мечты.</p>
                <p>Официально Сочи делится на четыре района: Адлерский, Хостинский, Центральный и Лазаревский. В их расположении нет ничего
                    сложного —растянулись себе последовательно друг за другом от Абхазии до поселка Магри, вдоль берега моря. Но не следует
                    путать Адлер с Адлерским районом, Хосту с Хостинским и так далее. Особенно это важно при покупке недвижимости.</p>


            </div>
        </div>
    </div>
</div>


{% endblock%}