<div id="main-carusel">
    <div id="f-1" ><img src ="/static/media/vip-adv/foto-1.jpg"  class="foto-flat" id="ff-1"></div>
    <div id="f-2"><img src ="/static/media/vip-adv/foto-2.jpg" class="foto-flat" id="ff-2"></div>


    <button class="custom-btn btn-7" onclick= "stop_start()"><span id="cross">X</span></button>

    <div id="f-3" ><img src ="/static/media/vip-adv/foto-3.jpg" class="foto-flat" id="ff-3"></div>
    <div id="f-4" ><img src ="/static/media/vip-adv/foto-4.jpg" class="foto-flat" id="ff-4"></div>
</div>
<hr style="border: 1px solid white; opacity: 0.7;">