<div id='block_affiliate_program'>
    <p id="affiliate_program">Партнерские программы:</p>


        <a href="" class='design_partner'>Партнерская программа для зарабатывания денег 1</a>
        <p><a href="" class='design_partner'>Партнерская программа для зарабатывания денег 2</a></p>

        <p><a href="" class='design_partner'>Партнерская программа для зарабатывания денег 3</a></p>

        <p><a href="" class='design_partner'>Партнерская программа для зарабатывания денег 4</a></p>



</div>