{% extends "base.html" %}

{%  block title %}
Новость добавлена
{% endblock %}

{% block nav_category %}
{% include 'inc/_news_nav_category.html' %}
{% endblock%}

{% block slyle-nav %}
   <style>
        #news{
    background-color: #E35C14;
    border-bottom: -1px solid white ;
    border-top: -1px solid white ;
    border-left: 1px solid white ;
    border-right: 1px solid white ;

 }
 #main {
    background-color: #651702;
    padding:7px;
    border: 1px solid white ;
    text-align:center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-left: none;
    border-right:none;
    opacity: 0.7;
}
#main:hover{
    background-color: #E35C14;
    border-bottom: -1px solid white ;
    border-top: -1px solid white ;
    border-left: 1px solid white ;
    border-right: 1px solid white ;
}
label{
width: 150px;

}

    </style>
    {% endblock %}





{%  block content %}

<div  class="card mb-3">
    <div class="card-header" style="background-color: #FF8E29;">
    </div>
    <div class="card-body">

        <div class="media">

            <div class="media-body">
<h4 style = "text-align: center">&#128077; Новость находится на модерации &#128077;</h4>
<!--                    {% csrf_token %}-->
<!--                    {{ form.as_p }}-->
<!--                    {{ form.non_field.errors }}-->




            </div>
        </div>

    </div>
    <div class="card-footer text-muted" style="background-color: #FF8E29;">
    </div>

</div>





<br>

{% endblock%}